
#query {
    width: 75%;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.poiList {
    background-color: black;
    height: 100vh;
    opacity: 0.9;
    padding: 10px 20px;
    position: absolute;
    width: 50vh;
    z-index: -10;
}

.poibutton {
    background-color: white;
    z-index: 1000;
}


.toggleButton {
      marginLeft: 10;
      marginRight: 20;
      position: "absolute";
      left: 10;
      top: 20;
      background-color: "black";
      padding: 10px;
      z-index: 10;
    }

.fa-bars {
    background-color: "black";

}

/*=============== Media Queries ===============*/
@media screen and (max-width: 767px) {
/*    .poiList {
        display: none;
    }*/
}
